# OS Stuff
*~
.DS_Store
.Trashes
*.swp

# React
*.jsbundle

# Xcode
DerivedData/
build/
*.pbxuser
*.mode1
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xcworkspace
*.moved-aside
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# CocoaPods
Pods/
ThirdPartyCode.plist

# Android
.gradle
local.properties

# Node
node_modules
npm-debug.log
